/* Vendor CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

/* _____ */
body {
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

.body-wrapper {
	color: #666666;
	background-color: #ffffff;
	font-size: 1rem;
	font-family: Arial;
	line-height: 1.75;
}
/* _____ */



/* ___banner area style___ */
#top_logo {
	border-radius: 0.5rem;
}
/* _____ */



/* ___promotion area style start___ */
.promotional__single {
	display: flex;
	padding: 0.75rem 1rem;
	border: 1px solid #dddddd;
}

.promotional__single:not(:first-child) {
	border-left: none;
}

.promotional__single:first-child {
	border-radius: 0.25rem 0 0 0.25rem;
}

.promotional__single:last-child {
	border-radius: 0 0.25rem 0.25rem 0;
}

.promotional__box {
	display: flex;
	align-items: center;
}

.promotional__icon {
	width: 50px;
	height: 50px;
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #105a8b;
	border-radius: 50%;
}

.promotional__icon i {
	font-size: 1.5rem;
}

.promotional__text {
	color: #000000;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 1.5rem;
	padding-left: 0.75rem;
}

@media screen and (max-width: 991px) {
	.promotional__single:not(:first-child) {
		border-left: 1px solid #dddddd;
	}
	.promotional__single:nth-child(1) {
		border-radius: 0.25rem 0 0 0;
	}
	.promotional__single:nth-child(2) {
		border-radius: 0 0.25rem 0 0;
		border-width: 1px 1px 1px 0;
	}
	.promotional__single:nth-child(3) {
		border-radius: 0 0 0 0.25rem;
		border-width: 0 1px 1px 1px;
	}
	.promotional__single:nth-child(4) {
		border-radius: 0 0 0.25rem 0;
		border-width: 0 1px 1px 0;
	}
}

@media screen and (max-width: 575px) {
	.promotional__single {
		border-radius: 0 !important;
		border-width: 1px !important;
	}
	.promotional__single:not(:first-child) {
		border-top-width: 0 !important;
	}
	.promotional__single:first-child {
		border-radius: 0.25rem 0.25rem 0 0 !important;
	}
	.promotional__single:last-child {
		border-radius: 0 0 0.25rem 0.25rem !important;
	}
}
/* ___promotion area style end___ */



/* ___gallery area style start___ */
.galley-holder {
	width: 575px;
	max-width: 100%;
}

.big-image-inner {
	position: relative;
}

.big-image-single {
	display: none;
	padding-top: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.zoom-grid {
	position: absolute;
	width: 20%;
	height: 20%;
	z-index: 99;
	cursor: zoom-in;
}

#zoom-grid-01 {
	top: 0%;
	left: 0%
}

#zoom-grid-02 {
	top: 0%;
	left: 20%
}

#zoom-grid-03 {
	top: 0%;
	left: 40%
}

#zoom-grid-04 {
	top: 0%;
	left: 60%
}

#zoom-grid-05 {
	top: 0%;
	left: 80%
}

#zoom-grid-06 {
	top: 20%;
	left: 0%
}

#zoom-grid-07 {
	top: 20%;
	left: 20%
}

#zoom-grid-08 {
	top: 20%;
	left: 40%
}

#zoom-grid-09 {
	top: 20%;
	left: 60%
}

#zoom-grid-10 {
	top: 20%;
	left: 80%
}

#zoom-grid-11 {
	top: 40%;
	left: 0%
}

#zoom-grid-12 {
	top: 40%;
	left: 20%
}

#zoom-grid-13 {
	top: 40%;
	left: 40%
}

#zoom-grid-14 {
	top: 40%;
	left: 60%
}

#zoom-grid-15 {
	top: 40%;
	left: 80%
}

#zoom-grid-16 {
	top: 60%;
	left: 0%
}

#zoom-grid-17 {
	top: 60%;
	left: 20%
}

#zoom-grid-18 {
	top: 60%;
	left: 40%
}

#zoom-grid-19 {
	top: 60%;
	left: 60%
}

#zoom-grid-20 {
	top: 60%;
	left: 80%
}

#zoom-grid-21 {
	top: 80%;
	left: 0%
}

#zoom-grid-22 {
	top: 80%;
	left: 20%
}

#zoom-grid-23 {
	top: 80%;
	left: 40%
}

#zoom-grid-24 {
	top: 80%;
	left: 60%
}

#zoom-grid-25 {
	top: 80%;
	left: 80%
}

.zoom-grid:hover~.big-image-single {
	background-size: 200%;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#zoom-grid-01:hover~.big-image-single {
	background-position: top 0% left 0%;
}

#zoom-grid-02:hover~.big-image-single {
	background-position: top 0% left 25%;
}

#zoom-grid-03:hover~.big-image-single {
	background-position: top 0% left 50%;
}

#zoom-grid-04:hover~.big-image-single {
	background-position: top 0% left 75%;
}

#zoom-grid-05:hover~.big-image-single {
	background-position: top 0% left 100%;
}

#zoom-grid-06:hover~.big-image-single {
	background-position: top 25% left 0%;
}

#zoom-grid-07:hover~.big-image-single {
	background-position: top 25% left 25%;
}

#zoom-grid-08:hover~.big-image-single {
	background-position: top 25% left 50%;
}

#zoom-grid-09:hover~.big-image-single {
	background-position: top 25% left 75%;
}

#zoom-grid-10:hover~.big-image-single {
	background-position: top 25% left 100%;
}

#zoom-grid-11:hover~.big-image-single {
	background-position: top 50% left 0%;
}

#zoom-grid-12:hover~.big-image-single {
	background-position: top 50% left 25%;
}

#zoom-grid-13:hover~.big-image-single {
	background-position: top 50% left 50%;
}

#zoom-grid-14:hover~.big-image-single {
	background-position: top 50% left 75%;
}

#zoom-grid-15:hover~.big-image-single {
	background-position: top 50% left 100%;
}

#zoom-grid-16:hover~.big-image-single {
	background-position: top 75% left 0%;
}

#zoom-grid-17:hover~.big-image-single {
	background-position: top 75% left 25%;
}

#zoom-grid-18:hover~.big-image-single {
	background-position: top 75% left 50%;
}

#zoom-grid-19:hover~.big-image-single {
	background-position: top 75% left 75%;
}

#zoom-grid-20:hover~.big-image-single {
	background-position: top 75% left 100%;
}

#zoom-grid-21:hover~.big-image-single {
	background-position: top 100% left 0%;
}

#zoom-grid-22:hover~.big-image-single {
	background-position: top 100% left 25%;
}

#zoom-grid-23:hover~.big-image-single {
	background-position: top 100% left 50%;
}

#zoom-grid-24:hover~.big-image-single {
	background-position: top 100% left 75%;
}

#zoom-grid-25:hover~.big-image-single {
	background-position: top 100% left 100%;
}

.small-image-container {
	width: 300%;
	margin-left: 0;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.small-image-container .list-group-item {
	border-radius: 0 !important;
}

.small-image-container .list-group-item:nth-of-type(5),
.small-image-container .list-group-item:nth-of-type(9) {
	border-left-width: 1px !important;
}

.small-image-container label {
	cursor: pointer;
	opacity: 0.5;
	border: 2px solid transparent;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.small-image-container label span {
	padding-top: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.slider-controller {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.slider-controller-left {
	left: -1rem;
}

.slider-controller-right {
	right: -1rem;
}

.slider-controller label {
	margin: 0;
	width: 2rem;
	height: 2rem;
	display: none;
	cursor: pointer;
	background: #ffffff;
	border-radius: 100%;
}

.slider-controller label[for=slider_00] {
	cursor: not-allowed;
}

.slider-controller i {
	color: #105a8b;
	font-size: 2rem;
	opacity: 0.75;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.slider-controller:hover i {
	opacity: 1;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#slider_01:checked~.slider-controller-left label[for=slider_00],
#slider_02:checked~.slider-controller-left label[for=slider_01],
#slider_03:checked~.slider-controller-left label[for=slider_02],
#slider_01:checked~.slider-controller-right label[for=slider_02],
#slider_02:checked~.slider-controller-right label[for=slider_03],
#slider_03:checked~.slider-controller-right label[for=slider_00] {
	display: block;
}

#slider_01:checked~.small-image-inner .small-image-container {
	margin-left: 0%;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#slider_02:checked~.small-image-inner .small-image-container {
	margin-left: -100%;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#slider_03:checked~.small-image-inner .small-image-container {
	margin-left: -200%;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#img_input_01:checked~.big-image-holder #big_img_01,
#img_input_02:checked~.big-image-holder #big_img_02,
#img_input_03:checked~.big-image-holder #big_img_03,
#img_input_04:checked~.big-image-holder #big_img_04,
#img_input_05:checked~.big-image-holder #big_img_05,
#img_input_06:checked~.big-image-holder #big_img_06,
#img_input_07:checked~.big-image-holder #big_img_07,
#img_input_08:checked~.big-image-holder #big_img_08,
#img_input_09:checked~.big-image-holder #big_img_09,
#img_input_10:checked~.big-image-holder #big_img_10,
#img_input_11:checked~.big-image-holder #big_img_11,
#img_input_12:checked~.big-image-holder #big_img_12 {
	display: block;
}

#img_input_01:checked~.small-image-holder label[for=img_input_01],
#img_input_02:checked~.small-image-holder label[for=img_input_02],
#img_input_03:checked~.small-image-holder label[for=img_input_03],
#img_input_04:checked~.small-image-holder label[for=img_input_04],
#img_input_05:checked~.small-image-holder label[for=img_input_05],
#img_input_06:checked~.small-image-holder label[for=img_input_06],
#img_input_07:checked~.small-image-holder label[for=img_input_07],
#img_input_08:checked~.small-image-holder label[for=img_input_08],
#img_input_09:checked~.small-image-holder label[for=img_input_09],
#img_input_10:checked~.small-image-holder label[for=img_input_10],
#img_input_11:checked~.small-image-holder label[for=img_input_11],
#img_input_12:checked~.small-image-holder label[for=img_input_12] {
	opacity: 1;
	border-color: #013334;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* ___gallery area style end___ */



/* ___summery area style start___ */
.title-holder h1 {
	color: #000000;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 2.5rem;
	margin: 0;
}

.bullet-points ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bullet-points ul li {
	padding: .25rem 0 .25rem 1.25rem;
	position: relative;
}

.bullet-points ul li::before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: #000000;
	position: absolute;
	left: 0;
	top: 0.9rem;
}
/* ___summery area style end___ */



/* ___description and tab content style start___ */
.description-title-border {
	padding: 0.25rem;
	text-align: center;
	border-radius: 30px;
	border: 2px solid #dddddd;
}

.description-title-border h2 {
	background-color: #105a8b;
	border-radius: 1.5rem;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2rem;
	padding: 0.5rem 1rem;
	margin: 0;
}

.section-title h4 {
	color: #333333;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
}

.section-content strong {
	color: #333333;
}

.section-content ul {
	padding-left: 1.25rem;
	list-style-type: square;
}
/* ___description and tab content style end___ */



/* ___tab area style start___ */
.tab__controller {
	display: flex;
	padding: 0.25rem;
	text-align: center;
	border: 2px solid #dddddd;
	border-radius: 30px;
}

.tab__controller label {
	background-color: #ffffff;
	border-radius: 1.5rem;
	color: #333333;
	cursor: pointer;
	flex: auto;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2rem;
	padding: 0.5rem 1rem;
	margin: 0;
}

#tab_input__01:checked~.tab__controller label[for=tab_input__01],
#tab_input__02:checked~.tab__controller label[for=tab_input__02],
#tab_input__03:checked~.tab__controller label[for=tab_input__03],
#tab_input__04:checked~.tab__controller label[for=tab_input__04],
#tab_input__05:checked~.tab__controller label[for=tab_input__05] {
	background-color: #105a8b;
	color: #ffffff;
}

.tab__content {
	display: none;
	min-height: 15rem;
	padding: 2rem 0 1rem 0;
}

#tab_input__01:checked~.tab__container #tab_content__01,
#tab_input__02:checked~.tab__container #tab_content__02,
#tab_input__03:checked~.tab__container #tab_content__03,
#tab_input__04:checked~.tab__container #tab_content__04,
#tab_input__05:checked~.tab__container #tab_content__05 {
	display: block;
	animation: scale 0.7s ease-in-out;
}

@keyframes scale {
	0% {
		transform: scale(0.9);
		opacity: 0
	}
	50% {
		transform: scale(1.01);
		opacity: .5
	}
	100% {
		transform: scale(1);
		opacity: 1
	}
}

@media screen and (max-width: 575px) {
	.tab__controller {
		flex-direction: column;
		text-align: left;
	}
	.tab__controller label {
		padding-left: 2rem;
		border: 1px solid #dddddd;
	}
	.tab__controller label:not(:last-child) {
		margin-bottom: 0.25rem;
	}
}
/* ___tab area style end___ */



/* ___footer-link area style start___ */
.footer-link-container {
	background-color: #f4f4f4;
	border-radius: 0.5rem;
	padding: 2rem 5rem;
}

.footer-link {
	padding: 1rem;
}

.footer-link h2 {
	color: #333333;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 1rem;
}

.footer-link ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-link ul li {
	padding: 0.25rem 0;
}

.footer-link ul li a {
	color: #666666;
	text-decoration: none !important;
}

.footer-link ul li a:hover {
	color: #fcd804;
}

#newsletter__link {
	width: 7.5rem;
	height: 2.5rem;
	color: #ffffff;
	background-color: #105a8b;
	border-radius: 0.25rem;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

#newsletter__link:hover {
	color: #fcd804;
}

@media screen and (max-width: 575px) {
	.footer-link-container {
		padding: 2rem;
	}
}
/* ___footer-link area style end___ */



/* ___footer area style start___ */
footer {
	font-size: 0.9rem;
}

.footer-top-border {
	border-top: 2px solid #dddddd;
}

footer strong {
	color: #333333;
}
/* _____ */
